* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #quizStart{
    display: none;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
  padding-bottom: 0.5rem;
  height: 100vh;
  background-color: goldenrod;
  /* background: linear-gradient(gold, orange, orangered); */
  background: linear-gradient(greenyellow, yellow, green);
}

.heading h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  /* color: greenyellow; */
  color: green;
}

input {
  border-radius: 0.75rem;
  /* border-color:rgb(201, 134, 9); */
  border-style: solid;
  /* background-color: wheat; */
  padding: 0.75rem 4rem;
  margin: 0.5rem;
  box-shadow: 10px 10px 10px darkslategray;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin:50px auto; */
  width: 650px;
  /* height: 196px; */
  padding: 2rem 0;
  /* margin: 20px auto; */
  border-radius: 10px;
  box-shadow: 10px 10px 10px darkslategray;
  text-align: center;
  color: white !important;
  /* background-color: darkcyan; */
  background-color: green;

  gap: 30px;
}

#forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.login {
  box-shadow: 2px 2px 2px black;
  border-style: solid;
  border-color: darkgray;
  border-radius: 1rem;
  /* background-color: rgb(8, 234, 19); */
  width: 70%;
  padding: 1rem;
}

.register {
  box-shadow: 2px 2px 2px black;
  /* background-color: white; */
  border-radius: 1rem;

  border-color: darkgray;
  border-style: solid;

  width: 70%;

  padding: 1rem;
}
button[type="submit"] {
  margin-top: 0.5rem;
}
.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#selectCategory {
  border-style: solid;
  font-family: "Poppins", sans-serif;

  border-color: #5f605f;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  padding: 1rem;
  /* width: 50%; */

  /* flex-direction: column; */
}

.timer {
  font-size: x-large;
  color: black;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.question {
  color: gold;
  font-family: "Poppins", sans-serif;
  font-weight: 500;

  font-size: 30px;
  margin: 0.8rem;
}

#quizStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.options {
  /* display: flex;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  background-color: #1f8f0d;
  color: orange;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 1.5rem;
  gap: 1.5rem;
}

.option {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 1rem 6rem;
  background-color: white;
  border-radius: 2rem;
  color: black;
  font-weight: bold;
  box-shadow: 10px 10px 10px darkslategray;
}

.option:hover {
  background-color: rgb(77, 74, 74);
  color: white;
  transition: 0.8s;
}

.button {
  display: inline-block;
}

p.category {
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
}

button {
  display: inline-block;

  /* width: 50%; */
  padding: 7px 20px;
  background-color: lavenderblush;
  border-radius: 30px;
  border: 0;
  margin: auto;
  font-size: 16px;
  /* margin: 20px auto; */
  font-weight: 600;
  box-shadow: 10px 10px 10px darkslategray;
}
