* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
::placeholder {
  color: #3b3a3a;
}
.quiz{
  display: none;
}
#wrapper{
  display: flex;
  flex-direction: column;
  height: 100svh;
  min-height: 100vh;
}
header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  margin-bottom: 2rem;
  box-shadow: 1px 2px 4px 3px rgba(0,0,0,0.6);
}

/* main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90svh;
  min-height: 90vh;
  margin: 0 auto;
} */